<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Reviews</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script
          src="https://kit.fontawesome.com/93e0a23dda.js"
          crossorigin="anonymous"
  ></script>
  <link
          href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet"
  />
</head>
<body class="w-full min-h-screen bg-white dark:bg-gray-900 dark:text-white">
<section class="w-full">
  <div class="container relative flex flex-col px-6 py-8 mx-auto">
    <nav class="md:flex md:items-center md:justify-between">
      <div class="flex items-center justify-between">
        <button
                x-cloak
                @click="isOpen = !isOpen"
                class="text-gray-500 md:hidden dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none"
        >
          misresenas
        </button>

        <a href="#" class="text-2xl font-bold dark:text-white">
          misResenas
        </a>
      </div>

      <div
              x-cloak
              :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
              class="absolute inset-x-0 z-20 w-full px-6 py-8 mt-8 space-y-6 transition-all duration-300 ease-in-out bg-white dark:bg-gray-900 top-16 md:bg-transparent md:dark:bg-transparent md:mt-0 md:p-0 md:top-0 md:relative md:w-auto md:opacity-100 md:translate-x-0 md:space-y-0 md:-mx-6 md:flex md:items-center"
      >
        <a
                th:href="@{/reviews}"
                class="block text-gray-600 transition-colors duration-300 dark:text-white md:px-6 hover:text-blue-500 dark:hover:text-blue-400"
        >Reviews</a
        >
        <a
                th:href="@{'/reviews/profile/' + ${#authentication.principal.id}}"
                class="block text-gray-600 transition-colors duration-300 dark:text-white md:px-6 hover:text-blue-500 dark:hover:text-blue-400"
        >Profile</a
        >
        <a th:href="@{/reviews/add}"
           class="hidden mx-4 text-gray-600 transition-colors duration-300 transform lg:block dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 focus:text-gray-700 dark:focus:text-gray-400 focus:outline-none"
           aria-label="show notifications"
        >
          <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgba(255, 255, 255, 1); msfilter: "
          >
            <path
                    d="M16 2H8C4.691 2 2 4.691 2 8v13a1 1 0 0 0 1 1h13c3.309 0 6-2.691 6-6V8c0-3.309-2.691-6-6-6zm4 14c0 2.206-1.794 4-4 4H4V8c0-2.206 1.794-4 4-4h8c2.206 0 4 1.794 4 4v8z"
            ></path>
            <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
          </svg>
        </a>
        <button
                class="hidden mx-4 text-gray-600 transition-colors duration-300 transform lg:block dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 focus:text-gray-700 dark:focus:text-gray-400 focus:outline-none"
                aria-label="show notifications"
        >
          <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgba(255, 255, 255, 1); msfilter: "
          >
            <path d="m10.998 16 5-4-5-4v3h-9v2h9z"></path>
            <path
                    d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95-3.08 2.051-4.95 2.051-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"
            ></path>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</section>
<section class="min-h-screen flex mt-12 justify-center">
  <div class="flex flex-col items-center w-[60vw]" >
    <div class="flex flex-col w-[60vw] h-fit p-4" th:each="review : ${reviews}" >
      <div class="flex items-center gap-x-6">
        <img
                class="object-cover w-12 h-12 rounded-full"
                src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&h=764&q=100"
                alt=""
        />
        <p class="text-xl font-semibold" th:text="${review.title}">Achchaimae Khalaf</p>
      </div>
      <div class="mt-4 px-12" th:text="${review.message}">

      </div>
      <div class="flex justify-between px-12 mt-4">
        <div class="flex items-center gap-x-4">

        </div>

        <div x-data="{ isOpen: true }" class="relative inline-block">
          <!-- Dropdown toggle button -->
          <button
                  @click="isOpen = !isOpen"
                  class="relative z-10 block p-2 text-gray-700 bg-white border border-transparent rounded-md dark:text-white focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:bg-gray-800 focus:outline-none"
          >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
            >
              <path
                      d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
              />
            </svg>
          </button>

          <div
                  x-show="isOpen"
                  @click.away="isOpen = false"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="opacity-0 scale-90"
                  x-transition:enter-end="opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-100"
                  x-transition:leave-start="opacity-100 scale-100"
                  x-transition:leave-end="opacity-0 scale-90"
                  class="absolute right-0 z-20 w-48 py-2 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800"
          >
            <a th:href="@{/reviews/delete/{id}(id=${review.id})}" class="flex items-center px-3 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="mx-1"> Delete</span>
            </a>

            <a
                    href="#"
                    class="flex items-center p-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <span class="mx-1"> Save </span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<footer class="bg-white dark:bg-gray-900">
  <div
          class="container flex flex-col items-center justify-between px-6 py-8 mx-auto lg:flex-row"
  >
    <a href="#" class="dark:text-white text-2xl"> misresenas </a>

    <div
            class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0"
    >
      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Overview
      </a>

      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Features
      </a>

      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Pricing
      </a>
      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Careers
      </a>

      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Help
      </a>

      <a
              href="#"
              class="text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400"
      >
        Privacy
      </a>
    </div>

    <p class="mt-6 text-sm text-gray-500 lg:mt-0 dark:text-gray-400">
      © Copyright 2024 AchchSine.
    </p>
  </div>
</footer>
</body>
</html>
<script src="//unpkg.com/alpinejs" defer></script>

<div x-data="{ open: false }">
  <button @click="open = true">Expand</button>

  <span x-show="open"> Content... </span>
</div>
